<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <script type="text/javascript" src="js/lib/angular-1.0.8.min.js"></script>
</head>
<body>
<div ng-controller="ModuleDIController">
	
    List Of Items: <ul ng-repeat="item in listOfItems">
                        <li>{{ item.number }} - {{ item.name }}</li>
                   </ul><br />

    <input type="button" ng-click="fillItems()" value="Call Service"/>

</div>
<script type="text/javascript">
    var sampleServices = angular.module('sampleServices', []);
    sampleServices.service('ListOfItemsService', function () {
        this.getList = function () {
            throw new Error("Error occurred, do we know where?");
        };
    })

    var sampleApp = angular.module('sampleApp', ['sampleServices']);
    sampleApp.controller('ModuleDIController',
        ['$scope', 'ListOfItemsService',
        function ($scope, listOfItemsService) {
            $scope.listOfItems = [];

            $scope.fillItems = function () {
                $scope.listOfItems = listOfItemsService.getList();
            };
        }]
    );
</script>
</body>
</html>