<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <script type="text/javascript" src="js/lib/angular-1.0.8.min.js"></script>
    <style>
        .ng-valid {
            border: 2px solid green;
        }
        .ng-invalid {
            border: 2px solid red;
        }
    </style>
</head>
<body>
<div ng-controller="SimpleValidationController">
    <form name="appForm" novalidate>
        Required Text: <input type="text" name="textValueInput" ng-model="textValue" required /><br />
        Required Int: <input type="number" ng-model="integerValue" min="0" max="5" ng-pattern="/^-?\d+$/" required /><br />
        Required Int + 5: {{ getCalculatedInteger() }}<br />
        <input type="submit" value="Save" />

        <pre>
        textValue: 
            value="{{ textValue }}"    
            value is null: {{ textValue == null }}
            valid={{ appForm.textValueInput.$valid }}
            error={{ appForm.textValueInput.$error }}

        integerValue: 
            value="{{ integerValue }}"
            value is null: {{ integerValue == null }}
            valid={{ appForm.integerValueInput.$valid }}
            error={{ appForm.integerValueInput.$error }}

        appForm: 
            valid="{{ appForm.$valid }}"
            error={{ appForm.$error }}
            required={{ appForm.$error.required }}
        </pre>
    </form>
</div>
<script type="text/javascript">
    var sampleApp = angular.module('sampleApp', []);

    sampleApp.controller('SimpleValidationController', function ($scope) {
        $scope.textValue = "";
        $scope.integerValue = 0;

        $scope.getCalculatedInteger = function () {
            return $scope.integerValue + 5;
        };
    });

</script>
</body>
</html>